<aside id="aside_nav">
    <nav>
        <ul id="aside_ul_nav">
            <li class="aside_li_nav"><a href="./">La Dynastie des Capétiens</a></li>
            <li class="aside_li_nav"><a href="./hugues-capet">Hugues Capet</a></li>
            <li class="aside_li_nav"><a href="./louisix">Louis IX</a></li>
            <li class="aside_li_nav"><a href="./philippe-le-bel">Philippe Le Bel</a></li>
            <li class="aside_li_nav"><a href="./philippe-auguste">Philippe Auguste</a></li>
            <li class="aside_li_nav"><a href="./contact">Contact</a></li>
        </ul>
    </nav>
</aside>