<footer>
    <p id="clock" class="clockEvenColor"></p>
    <p>&copy; 2019 - Association pour la Diffusion, la Promotion et la Défense de l'Histoire de France - Tous droits
        réservés <br>Création graphique & Développement - Emilie Nogaro</p>
    <p>All images in public domain except for  <a href="https://commons.wikimedia.org/wiki/File:Arms_of_the_Kingdom_of_France_(Ancien).svg"
        title="via Wikimedia Commons">"Arms of the Kingdom of France (Ancien)" / Sodacan</a> / <a href="https://creativecommons.org/licenses/by-sa/3.0">CC BY-SA</a></p>
   
</footer>