<header>
    <a href="./">
        <img src="/assets/images/Arms_of_the_Kingdom_of_France_(Ancien).png" alt="Arms_of_the_Kingdom_of_France">
    </a>
    <a href="./">
        <h1>Les Grands Rois Capétiens</h1>
    </a>
</header>