<nav id="top-nav">
    <ul id="ul_nav">
        <li class="li_nav"><a href="./">La Dynastie des Capétiens</a></li>
        <li class="li_nav"><a href="./hugues-capet">Hugues Capet</a></li>
        <li class="li_nav"><a href="./louisix">Louis IX</a></li>
        <li class="li_nav"><a href="./philippe-le-bel">Philippe Le Bel</a></li>
        <li class="li_nav"><a href="./philippe-auguste">Philippe Auguste</a></li>
        <li class="li_nav"><a href="./contact">Contact</a></li>
    </ul>
        <div id="burger_container">
            <div id="menu_burger">
                <span></span>
            </div>
        </div>
</nav>